
*{
    margin:0;
    padding:0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

}




@font-face {
    font-family: cool-odin-font;
    src: url(assets/Norse-Bold.otf);
  }


.container{
    display:flex;
    height: 100vh;
    width: 100vw;
    border: 1px solid black;
}

.image-and-logo-div{
    flex: 1;
    border: 1px solid black;
    background-image: url('assets/forest-background.jpg');
    /* to make image fit div: https://stackoverflow.com/questions/8200204/fit-background-image-to-div */
    background-size:cover;
    text-align:center;
    display: flex;
    flex-direction: column;
    /* to center the white text */
    align-items: center;


}

.sign-up-div{
    /* to make this div (which is a flex item) bigger than the other div: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
    /* Why doesn't it become half (smaller) when I put flex grow: 1 for this? */
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    /* This is for the sign up div to take up more space than the image and logo div.  */
    flex: 3;
    background-color: rgb(238, 238, 238);
 

}




/* adjusting padding */
h1{
    padding: 40px;
}

input:focus{
    background-color: slateblue;
    border: 2px solid yellow;
    box-shadow: 5px 5px lightblue;

}



/* taken from "Absolute Positioning" part: https://www.theodinproject.com/lessons/node-path-intermediate-html-and-css-positioning */
.black-background{
    display: flex;
    width: 100%;
    background: black;
    opacity: 0.6;
    color: white;
    top: 8rem;
    text-align: center;
    font-size: 5rem;
    font-family: cool-odin-font, sans-serif;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
    /* Moving divs vertically: https://stackoverflow.com/questions/15918251/how-to-move-div-vertically-down-using-css */
    margin-top:50%;

    /* Aligning items in a flex container: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_flexible_box_layout/Aligning_items_in_a_flex_container */
  justify-content: center;
}


sub{
    /* positioning div at bottom of container: https://stackoverflow.com/questions/526035/how-can-i-position-my-div-at-the-bottom-of-its-container */
    bottom: 0;
    position: absolute;
    color: white;
    font-family:cool-odin-font, sans-serif;
    border: 1px solid white;
    margin-bottom: 10px;
    text-align: center;

}


/* making the link white */
a:link {
    color: white;
}

.odin-logo{
width: 5rem;

}



form{
    background-color: white;
    padding: 10px;
    padding-top:20px;
    padding-bottom: 20px;
    box-shadow: 0 4px 2px -2px gray;
}


.big-input-container{
    display:flex;

    /* set width to auto to make big container equal sizes (no set size for container) */
    width: auto;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 10px;

}



.input-container-one{
   margin-right: 50px;
}



.lets-do-this{

/* for positioning an item as it's own row: https://tobiasahlin.com/blog/flexbox-break-to-new-row/ */
flex-basis: 100%;
margin-bottom: 5%;
}



.create-account-button{
    background-color: #596D48;
    color: white;
    width: 15rem;
    height: 4rem;
    border-radius: 10px;
    /* margin: 15px; */
    padding: 15px;
    font-size: 1rem;

}

input, label{
   /* border: 1px solid green; */
   margin: 5px;
font-size: 20px;
border-radius:10px;
}

input{
    padding: 5px;
    border: 1px solid #E5E7EB;

}


#password:invalid, #confirm-password:invalid{
border:1px solid red;
}

#password:valid, #confirm-password:valid{
    border: 1px solid green;
}


.bottom-of-form{
    /* border: 1px solid black; */
    width: 30%;
    margin:2%;
    display: flex;
    flex-direction: column;
    align-items:center;
}