
*{
    margin:0;
    padding:0;
}
.container{
    display:flex;
    height: 100vh;
    width: 100vw;
    border: 1px solid black;
}

.image-and-logo-div{
    flex: 1;
    border: 1px solid black;
    background-image: url('assets/forest-background.jpg');
    /* to make image fit div: https://stackoverflow.com/questions/8200204/fit-background-image-to-div */
    background-size:cover ;

}

.sign-up-div{
    /* to make this div (which is a flex item) bigger than the other div: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
    flex-grow: 3;
}
